<div class="chart-container">
  <apx-chart
    #chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [title]="chartOptions.title!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [legend]="chartOptions.legend!"
    [labels]="chartOptions.labels!"
    [colors]="chartOptions.colors!"
    [responsive]="chartOptions.responsive!"
    [stroke]="chartOptions.stroke!"
    [markers]="chartOptions.markers!"
  ></apx-chart>
</div>
