<ion-fab class="fabbutom-root" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button aria-label="Acciones" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="action" title="Registrar Pago" (click)="onRegisterPayment()" aria-label="Registrar Pago">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="action" title="Registrar Estudiante" (click)="onRegisterStudent()" aria-label="Registrar Estudiante">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="action" title="Cerrar sesión" (click)="onLogout()" aria-label="Cerrar sesión">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
