<ion-fab
  class="fabbutom-root"
  [vertical]="position.includes('bottom') ? 'bottom' : 'top'"
  [horizontal]="position.includes('right') ? 'end' : 'start'"
  slot="fixed"
>
  <ion-fab-button
    [color]="color"
    aria-label="Acción principal"
    [class.fab-open]="fabOpen"
    (click)="fabOpen = !fabOpen"
  >
    <ion-icon [name]="fabOpen ? 'close' : 'add'" [class.rotated]="fabOpen"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ng-container *ngFor="let action of actions">
      <ion-fab-button
        [color]="action.color || 'primary'"
        aria-label="{{ action.label || 'Acción secundaria' }}"
        (click)="onActionClick(action.id)"
        class="secondary-action"
      >
        <ion-icon [name]="action.icon"></ion-icon>
      </ion-fab-button>
    </ng-container>
  </ion-fab-list>
</ion-fab>
